!!!
html
  head
    title Node.Philly  Foo Bar
    link(rel='stylesheet', href='/css/master.css')
    //if lt IE 9
      script(type='text/javascript', src='/js/IEcontainers.js')
    script(type='text/javascript', src='/js/jquery1-7.js')
    script(type='text/javascript', src='/js/imageScale.js')
    script(type='text/javascript', src='/js/scale.js')
  body
    section.global
      header
        table
          tr
            td
              img.logo(src='/images/site-logo.jpg', alt='Node.Philly 2012')
            td
              h1 Node.Philly 2012
              p Node.Philly is an exclusive evening event for anyone interested in Node.js. In addition to hearing from some of the most influential Node experts, there will be plenty of food and drink, hands-on demos and tons of chances to meet and collaborate with other members of the community.    
              a.btn.btn-large.btn-primary(href='/') Register
      section.leftcolumn
        .venue
          img(src='/images/sciencecenter.png')
          span University City Science Center
        h1.title Schedule Of Events
        .schedule
          .item
            .time 6:30 - 7:30
            .details
              .speakername Speaker TBD & Speaker TBD
              .abstract Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae lectus quis turpis lobortis viverra eu eget nisi. Curabitur id eros justo. Proin laoreet mattis dolor, a hendrerit nulla molestie id. Aenean libero magna, tempus in tincidunt quis, dapibus vitae ligula. Aliquam sed mi sed erat lacinia eleifend eget sit amet erat.
            .clear
          .item
            .time 7:30 - 8:30
            .details
              .speakername Speaker TBD & Speaker TBD
              .abstract Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae lectus quis turpis lobortis viverra eu eget nisi. Curabitur id eros justo. Proin laoreet mattis dolor, a hendrerit nulla molestie id. Aenean libero magna, tempus in tincidunt quis, dapibus vitae ligula. Aliquam sed mi sed erat lacinia eleifend eget sit amet erat.
            .clear
          .item
            .time 8:30 - 9:30
            .details
              .speakername Speaker TBD & Speaker TBD
              .abstract Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae lectus quis turpis lobortis viverra eu eget nisi. Curabitur id eros justo. Proin laoreet mattis dolor, a hendrerit nulla molestie id. Aenean libero magna, tempus in tincidunt quis, dapibus vitae ligula. Aliquam sed mi sed erat lacinia eleifend eget sit amet erat.
            .clear
          .item
            .time 9:30 - 10:30
            .details
              .speakername Speaker TBD & Speaker TBD
              .abstract Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae lectus quis turpis lobortis viverra eu eget nisi. Curabitur id eros justo. Proin laoreet mattis dolor, a hendrerit nulla molestie id. Aenean libero magna, tempus in tincidunt quis, dapibus vitae ligula. Aliquam sed mi sed erat lacinia eleifend eget sit amet erat.
            .clear
        .speakers
          h1.title Speakers
          .speaker
            .image
              img(src='/images/speakers/charlie-robbins.jpg')
            .bio
              .name Charlie Robbins
              .title CEO, Nodejitsu
              p Veteran of the enterprise software world, Charlie previously worked for Microsoft and consulted at several large financial institutions. After discovering Javascript and node.js, he left Wall Street to co-found Nodejitsu in 2010. He spends his free time making hot sauce, coding, contributing, and evangelizing open-source software in New York City. He holds a Bachelor of Engineering from McGill University and is a Masters Candidate at Columbia University.
            .clear
          .speaker
            .image
              img(src='/images/speakers/mikeal-rogers.jpg')
            .bio
              .name Mikeal Rogers
              .title CEO, Pouch
              p Mikeal is CEO and Co-Founder at Pouch and Curator of NodeConf. A common name in the node.js community Mikeal held prior positions at Yammer, CouchBase and Mozilla.
            .clear
          .speaker
            .image
              img(src='/images/speakers/james-halliday.jpg')
            .bio
              .name James Halliday
              .title Founder, Browserling
              p I create electronic doodles, start companies, play music, and tell computers what to do. Beep boop. http://browserling.com/ and http://testling.com
            .clear
          .speaker
            .image
              img(src='/images/speakers/paolo-fragomeni.jpg')
            .bio
              .name Paolo Fragomeni
              .title CTO, Nodejitsu
              p Full stack developer, co-founder and CTO of @Nodejitsu, Open Source/Open Web advocate.
            .clear
      section.rightcolumn
        section.twitter
          p
            a(href='http://www.twitter.com/NodePhilly', title='@NodePhilly', target='blank') @NodePhilly
            a(href='https://www.twitter.com/#!/search/nodephilly', title='#nodephilly', target='blank') #nodephilly
        section.sponsors
          h1.title Our Sponsors
          a(href='http://www.nodejitsu.com', target='_blank')
            img(src='/images/sponsors/nodejitsu.png')
    img(src='/images/bg-bw.jpg', id='bgImage')