@charset "UTF-8";
/* CSS for Node.Philly */
/* Tim Savery, Brett Whitham, Nuno Job, Chatham Financial */


/* ____________________Universals */

* {
	margin:0;
	padding:0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-style:normal;
	font-size:14px;
	background:#000;
	width:100%;
	height:100%;
	line-height:18px;
	letter-spacing:1px;
}

.clear {
	clear:both;
	display:block;
}

a {
	text-decoration:none;
	outline:none;
	color:inherit;
}

a:visited {
	text-decoration:none;
	outline:none;
}

bgImage {
	z-index:1;
}

/* end universals */


/* ____________________ Section */

section.global {
	width: 980px;
	height:auto;
	margin:25px auto 0 auto;
	z-index:100;
	position:relative;
	
}

header {
	padding:0 0px;
	margin-bottom:10px;
	background:url(../images/tile-red.png) repeat top left;
	border-radius:2px;
}

img.logo {
	margin:0 20px;
	border-radius:2px;
}

section.abstract {
	color:#fff;
	padding-top: 15px;
	border-radius:2px;
	display:inline-block;
	vertical-align:top;	
	text-shadow:1px 1px 1px hsla(0, 0%, 0%, .7);
}

a.register {
	color:#000;
	font-size:15px;
	font-weight:bold;
	padding:15px;
	float:left;
	margin:0 20px 0 0;
	width:auto;
	height:auto;
	background:url(../images/tile-yellow.png) repeat top left;
}

.leftcolumn {
	width:660px;
	display:inline-block;
	padding:20px;
	background:url(../images/tile-white.png) repeat top left;
	border-radius:2px;
}

h1.title {
	color:#666;
	font-size:18px;
	text-shadow:1px 1px 1px #fff;
	margin-bottom:15px;
	text-transform:uppercase;
}

.venue {
	margin-top:10px;
	margin-bottom:20px;
}

.venue img {
	border-radius:2px;
	box-shadow:0 0 2px 2px #999;
}

.venue span {
	color:#333;
	font-size:10px;
	font-style:italic;	
}

.schedule {
	color:#333;
	margin-bottom:20px;
}

.schedule .item {
	margin-bottom:15px;
}

.schedule .item .time {
	float:left;
	width:187px;
	font-size:20px;
	text-align: right;
	text-shadow:1px 1px 1px #fff;
	margin-right:20px;
}

.schedule .item .details {
	float:left;
	width:430px;
}

.schedule .item .details .speakername {
	font-size:20px;
	margin-bottom:5px;
	text-shadow:1px 1px 1px #fff;
}

.speakers {
	color:#333;	
}

.speakers .speaker {
	clear:both;
	margin-bottom:15px;
}

.speakers .speaker .image {
	float:left;
	width:205px;
}

.speakers .speaker .image img {
	border-radius:2px;
}

.speakers .speaker .bio {
	float:left;
	width:430px;
}

.speakers .speaker .bio .name {
	margin-bottom:5px;
	font-size:20px;
	text-shadow:1px 1px 1px #fff;
}

.speakers .speaker .bio .title {
	margin-bottom:5px;
	font-size:16px;
	text-shadow:1px 1px 1px #fff;
}

.rightcolumn {	
	vertical-align:top;
	display:inline-block;
	
	margin-left:10px;
	width:270px;
}

.twitter {
	color:#fff;	
	padding:15px;
	margin-bottom:10px;
	background:url(../images/tile-blue.png) repeat top left;
	border-radius:2px;
}

.twitter p {
	padding-left: 23px;
	background:url(../images/twitter-bird.png) no-repeat center left;
}

.twitter p a {
	font-size:12pt;
	margin-left:10px;
	text-shadow:1px 1px 1px #333;
}

.twitter p a:hover {
	text-decoration:underline;
}

.sponsors {
	padding:15px;
	background:url(../images/tile-white.png) repeat top left;
	border-radius:2px;
}

.sponsors img {
	width:100%;
	text-align:center;
	margin-top:10px;	
}
