@charset "UTF-8";
/* Mobile scale-down CSS for Node.Philly */
/* Tim Savery, Brett Whitham, Nuno Job, Chatham Financial */


/* ____________________Universals */

* {
	margin:0;
	padding:0;
}

html {
	background:
		url(/images/site-bg-main.jpg) repeat top left fixed;
	width:100%;
	height:auto;
	padding:0 0 5px 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-style:normal;
	font-size:13px;
	color:#867b6f;
	width:98%;
	height:98%;
	margin:5px auto 0 auto;
	padding:0 0 3px 0;
	line-height:25px;
	letter-spacing:normal;
}

/*____________________ Remove items */
img.venue, p.caption, li.speakers img, #tweets {	
	display:none;
}

.clear {
	clear:both;
}

a {
	color:#7accc8;
}

a, a:visited, a:hover {
	text-decoration:none;
	outline:none;
}

img {
	outline:none;
	border:none;
}

a img {
	border:none;
}

ul {
	list-style:none;
	overflow:visible;
}

li {
	list-style:none;
}

p, h1, h2, h3 {
	color:#867b6f;
}

h1 {
	font-weight:normal;
}

h2 {
	font-weight:normal;
}

header, section, article, nav, footer, aside, p, ul {
	display:block;
	}

/* end universals */


/* ____________________ Header */


header {
	width:auto;
	height:auto;
	background:
		url(/images/border-gray-blue.png) repeat-x bottom left;
	padding:5px 0 25px 0;
	text-align:center;

}

img.logo {
	width:125px;
	height:auto;
	margin:0 auto 0 auto;
	display:block;
}

header p {
	width:auto;
	height:auto;
	padding:8px;
}

header a.register {
	position:fixed;
	bottom:0;
	left:0;
	background:url(../images/footer-mobile-bg.png) repeat-x bottom left;
	width:100%;
	height:40px;
	color:#fff;
	font-size:18px;
	letter-spacing:2px;
	padding:12px 0 0 0;
}

/* end header */


/* ____________________ Main Content */

section.content {
	width:auto;
}


ul {	
	margin:10px 0 0 0;
}

h1#title {
	font-size:18px;
	width:auto;
	height:25px;
	padding:10px 10px 10px 20px;
	margin:10px 0 0 0;
	cursor:pointer;
	background:url(/images/show-hide-btn.png) no-repeat center left;
	border-bottom:#867b6f thin solid;
}

li {
	width:auto;
	padding:0 5px 20px 5px;
	background:url(/images/divide-hollow-horz.png) repeat-x bottom left;
	margin:10px 0 0 0;
}


li.schedule h1 {
	font-weight:bold;
	font-size:17px;
	padding:0 0 5px 0;
	margin:0;
}
/* end main content */


/* ____________________ Sidebar */

aside {
	margin:10px 0 0 0;
}

aside a.tweet-head {
	display:block;
	background:url(/images/twitter-bird-mobile.png) no-repeat center left;
	font-size:18px;
	width:auto;
	height:40px;
	padding:15px 0 0 45px;
	margin:5px 0 50px 0;
	color:#867b6f;
}

ul#sponsors a img.sponsor-logo {
	width:auto;
	height:auto;
	margin:10px;
	display:inline-block;
}


/* end sidebar */
