/* CSS for Node.Philly */
/* ____________________Universals */

* {
	margin:0;
	padding:0;
}

html {
	background:
		url(/images/stain-bott-left.png) no-repeat bottom left fixed,
		url(/images/stain-bott-right.png) no-repeat bottom right fixed,
		url(/images/stain-top-right.png) no-repeat top right fixed,
		url(/images/site-bg-shadow.jpg) repeat-x bottom left fixed,
		url(/images/site-bg-main.jpg) repeat top left fixed;
	width:100%;
	height:100%;
	padding:0 0 15px 0;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	font-style:normal;
	font-size:13px;
	color:#867b6f;
	width:980px;
	height:100%;
	margin:25px auto 0 auto;
	padding:0 0 10px 0;
	line-height:25px;
	letter-spacing:1px;
}

.clear {
	clear:both;
	display:block;
}

a {
	color:#7accc8;
}

a, a:visited, a:hover {
	text-decoration:none;
	outline:none;
}

img {
	outline:none;
	border:none;
}

a img {
	border:none;
}

ul {
	list-style:none;
	overflow:visible;
}

li {
	list-style:none;
}

p, h1, h2, h3 {
	color:#867b6f;
}

h1 {
	font-weight:normal;
}

h2 {
	font-weight:normal;
}

header, section, article, nav, footer, aside, p, ul {
	display:block;
	}

/* end universals */


/* ____________________ Header */


header {
	width:980px;
	min-height:170px;
	height:auto;
	background:
		url(/images/border-gray-blue.png) repeat-x bottom left,
		url(/images/site-bg-main.jpg) repeat top left;
	margin:0 0 15px 0;
	position:fixed;
	top:0;
	padding:15px 0 0 0;
}

.logo {
	float:left;
	background:url(/images/sitelogo.png) no-repeat top left;
	min-width:150px;
	min-height:150px;
}

header p {
	width:530px;
	height:auto;
	margin:5px 70px 0 70px;
	float:left;
}

header p a {
	color:#867b6f;
	text-decoration:underline;
}

header a.register {
	display:inline-block;
	background:url(/images/btn-register.png) no-repeat top right;
	margin:0 0 0 0;
	width:70px;
	height:80px;
	float:left;
	color:#fff;
	font-size:18px;
	padding:55px 35px 0 35px;
	text-align:center;
}

/* end header */


/* ____________________ Main Content */

section.content {
	width:980px;
	float:left;
	clear:both;
	margin:180px 15px 0 0;
}

img.venue {
	margin:0;
}

p.caption a {
	color:#867b6f;
	padding:0 0 0 5px;
	font-size:13px;
	text-decoration:underline;
}

ul {	
	margin:10px 0 0 0;
}

h1#title {
	background:
		url(/images/section-title-left.png) no-repeat top left,
		url(/images/section-title-right.png) no-repeat top right,
		url(/images/section-title-center.png) repeat-x top left;
	color:#fff;
	font-size:23px;
	width:730px;
	min-height:40px;
	padding:22px 10px 10px 22px;
	margin:15px 0 0 0;
}

li.schedule {
	float:left;
	width:145px;
	padding:0 20px 0 10px;
	background:url(/images/divide-hollow.png) repeat-y top right;
	margin:20px 15px 0 0;
}

li#last {
	background:none;	
}

li.schedule h1 {
	font-weight:bold;
	font-size:17px;
	border-bottom:#867b6f thin solid;
	padding:0 0 5px 0;
	margin:0 0 5px 0;
}

li.speakers {
	background:url(/images/border-gray-blue.png) repeat-x bottom left;
	width:740px;
	height:auto;
	padding:0 10px 20px 10px;
	margin:15px 0 0 0;
}

li.speakers img {
	width:195px;
	height:185px;
	background:url(/images/divide-hollow.png) repeat-y top right;
	padding:0 25px 0 0;
	margin:0 15px 25px 0;
	float:left;
}

li.speakers p {
	width:auto;
}

li:last-child {
	background:none;	
}

/* end main content */


/* ____________________ Sidebar */

aside {
	width:200px;
	height:auto;
	float:right;
	margin:0 0 0 0;
}

aside a.tweet-head {
	display:block;
	background:url(/images/tweets-header.png) no-repeat top left;
	color:#fff;
	width:145px;
	height:44px;
	padding:20px 0 0 55px;
	line-height:14px;
}

ul#tweets {
	width:525px;
	float:left;
	margin:0;
}

ul#tweets li {
	width:160px;
	height:auto;
	padding:0 20px 30px 20px;
	line-height:15px;
}

ul#tweets li p.user {
	border-bottom:#867b6f thin solid;
	padding:0 0 5px 0;
	margin:0 0 5px 0;
	
}

section#sponsors {
	margin:0 0 25px 0;
	}

aside h1#title{
	width:190px;
	height:33px;
	padding:20px 5px;
	margin:0;
	background:url(/images/sponsors-header.png) no-repeat top left;
	color:#fff;
	font-size:14px;
	line-height:15px;
	text-align:center;
}

section#sponsors a img.sponsor-logo {
	width:auto;
	height:auto;
	margin:0 auto 25px auto;
	display:block;
}

section.venue, section.schedule, section.speakers {
	float:left;
}

/* end sidebar */
